* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(18, 18, 44);
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    margin: 15px 0px 15px 0px;
}

footer {
    color: white;
    margin-top: 40px;
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
}